.hamburger-inner {
    position: absolute;
    background-color: var(--accent-color);
    padding: 4rem!important;
    a {
        color: black!important;
        span{
            font-weight: 600;
            color: black;
        }
    }
}

// .hamburger-visible .hamburger-inner {
//     animation: card-open 500ms cubic-bezier(0.405, 0.00, 0.165, 1.000);
//     width: 100%;
//     height: 100%;
// }

// @keyframes card-open {
//     0% {
//         height: 0px;
//         width: 0px;
//         top: 20px;
//         right: 20px;
//         border-radius: 50%;
//     }

//     100% {
//         height: 100vmax;
//         width: 100vmax;
//         top: calc(50% - 50vmax);
//         right: calc(50% - 50vmax);
//         border-radius: 0%;
//     }
// }

// @keyframes card-close {
//     0% {
//         height: 100vmax;
//         width: 100vmax;
//         top: calc(50% - 50vmax);
//         right: calc(50% - 50vmax);
//         border-radius: 0%;
//     }

//     100% {
//         height: 0px;
//         width: 0px;
//         top: 20px;
//         right: 20px;
//         border-radius: 50%;
//     }
// }
